<%- include('partials/header', {user, title: 'Bedrock Realms - About Us'}); -%> 

<body>

    <%- include('partials/navbar/top', {user}) -%> 

    <style>
        .header {
            background: transparent;
        }

        .menu {
            background-color:black;
        }

        .profile-menu {
            background-color: black;
        }
    </style>

    <%- include('partials/navbar/socials'); -%> 
    
</body>

<%- include('partials/footer'); -%> 