<%- include('partials/header', {user, title: 'Bedrock Realms - Home'}); -%> 

<body>

    <%- include('partials/navbar/top', {user}) -%> 

    <div class="banner">
        <div class="app-text">
            <h1>Creating New Beginning's</h1>
            <p>Ever wanted to make a Minecraft Realm but you have little to no members, well now there is a deticated place to upload your realm info. That's not all, people can vote for realms like you would on an actuall Minecraft Server-List. Now is the time to ditch server's and play on some amazing realms.</p>
    
        </div>

        <div class="app-picture"></div>
            <img src="">
        </div>


    <%- include('partials/navbar/socials'); -%> 
    
</body>

<%- include('partials/footer'); -%> 