<div class="header">
  <div class="navbar">
    <div class="logo">
      <a href="/"><img src="images/logo.png" /></a>
    </div>
    <div class="menu">
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/realms"><li>Realms</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/dashboard"><li>Dashboard</li></a>
      </ul>
    </div>
    <% if (user) { %>
    <div class="profile-menu">
      <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>" alt="profile_image" />
      <a href="/auth/logout"><h1>Logged in as <%= user.username %>#<%= user.discriminator%></h1></a>
    </div>
    <% } else { %>
    <div class="login-btn">
      <a href="/auth/login">Login</a>
    </div>
  </div>
  <% } %>
</div>
